$white-1: #fff;
$white-1: rgb(231, 231, 231);
$dark-2: rgba(60, 61, 65, 0.507);
$orange-1: rgb(255, 196, 87);
$orange-2: rgba(224, 148, 6, 0.829);
$orange-3: rgba(255, 145, 0, 0.829);
$orange-4: rgba(242, 159, 5, 1);
$red-1: #f04e3c;
$red-2: #d1ae10;
// box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)
