.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: 576px) {
        max-width: 540px;
    }
    @media screen and (min-width: 768px) {
        max-width: 720px;
    }
    @media screen and (min-width: 992px) {
        max-width: 960px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1140px;
    }
    @media screen and (min-width: 1400px) {
        max-width: 1320px;
    }
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}
.row > * {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
}
.my-1rem {
    margin: 1rem 0;
}
