@import "_clear";
@import "_grid"; // сетка
@import "_fonts"; // подключение шрифтов
@import "_mixin"; // миксины
@import "_color"; // цвета
// @import "_gallery";    // галерея

// Компиляция возможна только с препроцессором SCSS
// подключен локально: Roboto: (300, 400, 500, 700). При необходимости 900 - расскоментировать в fonts.scss
// размеры адаптивных шрифтов указать в _mixin.scss (16 строка). Пример подключения к тегам в (14-16 строке)

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

// ############################ BAR #######################
.bar {
    display: inline-block;
    cursor: pointer;
    border: 1px solid $red-1;
    border-radius: 4px;
    padding: 8px;
    transition: 0.4s;
    top: 0;
    right: 0;
    margin-right: 1rem;
    position: absolute;
    top: 16px;
    right: 0;

    &:hover {
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        border: 1px solid $orange-1;
    }
    &:focus {
        outline: 0;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    }
    &__line:not(:first-child) {
        margin-top: 6px;
    }
    &__line {
        width: 35px;
        height: 4px;
        background-color: $red-1;
        transition: 0.4s;
    }
    @media screen and (min-width: 992px) {
        display: none;
    }
}
// #############################
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0;
    &__row {
        @media screen and (max-width: 992px) {
            display: none;
        }
    }
}
