// @import "_clear";
@import "_grid"; // сетка
@import "_fonts"; // подключение шрифтов
@import "_mixin"; // миксины
@import "_color"; // цвета
// @import "_gallery";    // галерея

// Компиляция возможна только с препроцессором SCSS
// подключен локально: Roboto: (300, 400, 500, 700). При необходимости 900 - расскоментировать в fonts.scss
// размеры адаптивных шрифтов указать в _mixin.scss (16 строка). Пример подключения к тегам в (14-16 строке)

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

.bar {
    display: inline-block;
    cursor: pointer;
    border: 1px solid $red-1;
    border-radius: 4px;
    padding: 8px;
    transition: 0.4s;
    &:hover {
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        border: 1px solid $orange-1;
    }
    &__line-1 {
        width: 35px;
        height: 5px;
        background-color: $red-1;
        // margin: 6px 0;
        transition: 0.4s;
    }
    &__line-2 {
        width: 35px;
        height: 5px;
        background-color: $red-1;
        margin-top: 6px;
        transition: 0.4s;
    }
    &__line-3 {
        width: 35px;
        height: 5px;
        background-color: $red-1;
        margin-top: 6px;
        transition: 0.4s;
    }
}
// .bar_change {
//     .bar__line-1 {
//         width: 26px;
//         height: 4px;
//         transform: rotate(-45deg) translate(-8px, 8px);
//         margin: 0;
//     }
//     .bar__line-2 {
//         width: 26px;
//         height: 4px;
//         opacity: 0;
//     }
//     .bar__line-3 {
//         width: 26px;
//         height: 4px;
//         transform: rotate(45deg) translate(-8px, -8px);
//         margin: 0;
//     }
// }
